# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: dece8866f3adb8e0a883b81a68736e413b0a51ddade582b0198cdd81a09d619d9495f9b5bd14f04e3dc3ee79f4b7c19aba4286a4245c55a4ecf0b1a37d2569e2

test:
  secret_key_base: 995c8d326e47200d7fa56f682dc2a760b39a34dd221f6b740439d46ff4a479e9334daf8e1669fef8479a4198ae9b2adb849b742243adcacbf15a55bad0356fad

# We do not recommend keeping production secrets in the repository.
# Instead use one of Engine Yard's custom chef recipes
# v5 Stacks: https://github.com/engineyard/ey-cookbooks-stable-v5/tree/next-release/custom-cookbooks/rails_secrets/cookbooks/custom-rails_secrets
# v2/v4 Stacks: https://github.com/engineyard/ey-cloud-recipes/tree/master/cookbooks/rails-secrets
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
